<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <title>Document</title>
</head>
<body>
    <form method="post">
            <label for="choice1">
                <div>
                    <h1>1 - pupie</h1>
                <img src="https://nexgard.com.au/sites/default/files/2024-02/AdobeStock274064877_360x316.jpeg" alt="pupie">
                <input id="choice1" type="radio" name="product" value="300">
                <p>300$</p>
                </div>
            </label>
            <br>
            <label for="choice2">
                <h1>2 - pupies</h1>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZMSBj-U3zVQSaiTlXexTsdZ9FexEINXsdZg&s" alt="2pupies">
                <input id="choice2" type="radio" name="product" value="500">
                <p>500$</p>
            </label>
            <br>
            <label for="choice3">
                <h1>3 - pupies</h1>
                <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2022/03/24103516/Cavalier-King-Charles-Spaniel-puppies-sitting-together-on-the-couch-400x267.jpeg" alt="2pupies">
                <input id="choice3" type="radio" name="product" value="800">
                <p>800$</p>
            </label>
            <br>
            <label for="choice4">
                <h1>4 - pupies</h1>
                <img src="https://puppyschool.co.uk/media/4c3d63aa8db23ef282cd418b07eac1d0/four-labrador-cross-puppies-leaning-over-the-edge-of-a-box.jpg" alt="2pupies">
                <input id="choice4" type="radio" name="product" value="1000">
                <p>1000$</p>
            </label>
            <br>
            <button id="submit" type="submit">Buy</button>
    </form>
</body>
</html>