<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <title>Document</title>
</head>
<body>
    <form id="user">
        
        <label for="firstName">Firstname: 
            <input type="text" name="firstName" id="firstName">
        </label>
        <label for="lastName">Lastname: 
            <input type="text" name="lastName" id="lastName">
        </label>
    </form>
</body>
</html>