<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <title>Document</title>
</head>
<body>
    <form id="user">
        
        <label for="firstName">Firstname: 
            <input type="text" name="firstName" id="firstName">
        </label>
        <label for="lastName">Lastname: 
            <input type="text" name="lastName" id="lastName">
        </label>
        <label for="coupon">Coupon: 
            <input type="text" name="coupon" id="coupon">
        </label>

        <h2>Billing address</h2>

        <label for="country">Country: 
            <input type="text" name="country" id="country">
        </label>
        <label for="postalCode">Postal code:: 
            <input type="text" name="postalCode" id="postalCode">
        </label>
        <label for="city">City: 
            <input type="text" name="city" id="city">
        </label>
        <label for="street">Street: 
            <input type="text" name="street" id="street">
        </label>
        <label for="houseNumber">House number: 
            <input type="number" name="houseNumber" id="houseNumber">
        </label>

        <h2>Payment</h2>

        <label for="cardNumber">Card number: 
            <input type="text" name="cardNumber" id="cardNumber">
        </label>
        <label for="expDate">Expiration date: 
            <input type="text" name="expDate" id="expDate">
        </label>
        <label for="cvc">CVC: 
            <input type="number" name="cvc" id="cvc">
        </label>
        <% for 
        <button type="submit" id="submit">Submit</button>
    </form>
</body>
</html>